.wbdv-profile-picture-info {
  display: flex;
  flex-direction: column;
}

.wbdv-profile-personal-info {
  display: flex;
  flex-direction: column;
}

.wbdv-profile-pic {
  width: 30%;
}


.wbdv-profile-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.wbdv-profile-container {
  margin-top: 75px;
}


.wbdv-favorite-movie-title-year {
  display: flex;
  flex-direction: column;
  align-items: center;
}
