.wbdv-profile-picture-info {
  display: flex;
  flex-direction: column;
}

.wbdv-profile-personal-info {
  display: flex;
  flex-direction: column;
}

.wbdv-profile-pic {
  width: 30%;
}


.wbdv-profile-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}