.wbdv-home-content {
  padding-top: 90px;
}


.wbdv-nav-login-signup {
  flex-direction: row;
}

.wbdv-nav-signup {
  margin-right: 10px;
}


.wbdv-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wbdv-home-website-description {
  width: 55%;
  text-align: center;
}

.wbdv-home-popular-movies {
  margin-top: 75px;
}

.wbdv-home-filter-search {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}


.wbdv-provider-checkbox {
  display: flex;
  flex-direction: column;
}
















