.wbdv-home-content {
  padding-top: 90px;
}


.wbdv-nav-login-signup {
  flex-direction: row;
}

.wbdv-nav-signup {
  margin-right: 10px;
}


.wbdv-home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wbdv-home-website-description {
  width: 55%;
  text-align: center;
}

.wbdv-home-popular-movies {
  margin-top: 75px;
}

.wbdv-home-filter-search {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}


.wbdv-provider-checkbox, .wbdv-genre-checkbox {
  display: flex;
  flex-direction: column;
}


.wbdv-submit-filter-btn {
  /*width: 100px;*/
}


.wbdv-filter-result-grid {
  margin-top: 35px;
}





.wbdv-genre-checkbox-left, .wbdv-genre-checkbox-right {
  display: flex;
  flex-direction: column;
}



.wbdv-forum-filter-btns {
  display: flex;
  margin-top: 30px;
}


.wbdv-home-forum-btn {
  height: 50px;
  width: 300px;
}

.wbdv-home-filter-btn {
  height: 50px;
  width: 300px;
  margin-left: 35px;
}

.wbdv-home-movie-grid {
  margin-top: 30px;
}



