.wbdv-movie-poster {
  width: 100%
}

.details-container {
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}

.wbdv-genre-runtime {
  display: flex;
  flex-direction: column;
}

.wbdv-details-add-to-fav-btn {
  margin-top: auto;
  width: 30rem;
  align-self: center;
  height: 3rem;
}
